#!/bin/bash

#########################################
# Installation
#
# Copy this file to .git/hooks/prepare-commit-msg and make it executable.
# This will ensure that all of the commit messages are in our "Stardate" format.
#
#########################################

# 1. Generate the Stardate (Format: Year + Day of Year for a more 'Trek' feel)
# Example: 2024.312
STARDATE=$(date +%Y.%j)

# 2. Get the Station ID (Hostname in Uppercase)
STATION=$(hostname -s | tr '[:lower:]' '[:upper:]')

# 3. Identify the Branch (e.g., Main Bridge, Engineering, Tactical)
BRANCH=$(git rev-parse --abbrev-ref HEAD | tr '[:lower:]' '[:upper:]')

# 4. Process the Commit Message
COMMIT_MSG_FILE=$1
COMMIT_SOURCE=$2

# Only modify the message if it's a new commit (not a merge or ammend)
if [ -z "$COMMIT_SOURCE" ]; then
  USER_MSG=$(cat "$COMMIT_MSG_FILE")
  
  # Format: [STARDATE XXXX.XXX] [STATION: NAME] [SUBSYSTEM: BRANCH] : MESSAGE
  echo "[STARDATE $STARDATE] [ORIGIN: $STATION] [SUBSYSTEM: $BRANCH] : $USER_MSG" > "$COMMIT_MSG_FILE"
fi
