#!/bin/bash

#########################################
# Installation
#
# Copy this file to .git/hooks/prepare-commit-msg and make it executable.
# This will ensure that all of the commit messages are in our "Stardate" format.
#
#########################################

# 1. Define LCARS Metadata
STARDATE=$(date +%Y%m%d.%H%M%S)
STATION=$(hostname -s | tr '[:lower:]' '[:upper:]')
BRANCH=$(git rev-parse --abbrev-ref HEAD | tr '[:lower:]' '[:upper:]')

# 2. Target the commit message file
MSG_FILE=$1

# 3. Read the current message
ORIGINAL_MSG=$(cat "$MSG_FILE")

# 4. Prevent infinite loops (don't add if [STARDATE] is already there)
if [[ "$ORIGINAL_MSG" != *"[STARDATE"* ]]; then
    # Construct the Starfleet Header
    NEW_MSG="[STARDATE $STARDATE] [ORIGIN: $STATION] [SUBSYSTEM: $BRANCH] : $ORIGINAL_MSG"

    # Overwrite the file with the new formatted message
    echo "$NEW_MSG" > "$MSG_FILE"
fi